.app {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

/* .product-list {
  width: 70%;
} */

.cart {
  width: 30%;
  background-color: #f8f8f8;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* .product-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  width: 200px;
} */

/* .cart-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
} */

/* .cart-item-details {
  display: flex;
  align-items: center;
} */

/* .cart-item img {
  max-width: 60px;
  margin-right: 10px;
} */

/* .cart-item-quantity input {
  width: 40px;
} */
